body {
    margin-top:50px;
    margin-left:50px;
}

table {
    border: 1px solid black;
}

table#Asiakkaat {
    font-family: Helvetica, Arial, sans-serif;
    border-collapse: collapse;
}

table#Asiakkaat th, table#Asiakkaat td {
    border: 1px solid rgb(0, 135, 245);
    padding: 4px;
}

table#Asiakkaat th {
    background-color:rgb(112, 193, 250);
    font-size: 1.2em;
    color:rgb(255, 227, 191);
    padding-top: 5px;
    padding-bottom: 5px;
}

table#Asiakkaat tr:nth-child(even) {
    background-color: rgb(168, 205, 247);
}

table#Asiakkaat tr:nth-child(odd) {
    background-color:rgb(151, 225, 255);
}