body {
    margin: 0;
    font-size: 100%;
}

article.page {
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(82, 56, 1, 0.39);
    font-family: 'Cabin', sans-serif;
    font-weight: normal;
}

header {
    background-image: url("../images/banner8.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    letter-spacing: 0.3em;
    height: 20em;
    max-height: 20em;
    overflow: hidden;
}

h1 {
    font-family: 'Gabriela', serif;
	text-transform: uppercase;
	margin: 0;
	font-weight: 100;
    font-size: 4em;
    padding: 2em 1em 0.75em 5em;
    text-shadow: 0 0 0.115em rgb(255, 255, 255), 0 0 0.1em rgb(230, 190, 0);
    float: left;

}

header img {
    float: right;
    margin-top: 2em;
    padding-right: 5%;
    height: 90%;
    
}

.some {
    text-align: left;
    background-color: rgba(0, 0, 0, 0);
    padding-left: 2em;
    position: absolute;
}
.navbar {
    height: 1.5em;
    font-size: 1.625em;
    background-color: rgb(0, 0, 0);
    overflow: hidden;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;
}

.anchor {
    display: block;
    margin-top: -1em;
    height: 1em;
}

nav ul {
    font-family: 'Unica One', cursive;
    height: 1.5em;
    list-style-type: none;
    margin: 0 0 0 2.5em;
    padding: 0;
    text-align: center;
}
li {
    display: inline;
}

li a {
    height: 1.375em;
    display: inline-block;
    text-decoration: none;
    color: rgb(230, 190, 0);
    padding: 0.125em 1.25em 0 1.25em;
}
a {
    text-decoration: none;
}
a:hover:not(.active) {
    color: rgb(255, 250, 0);
    text-shadow: 0 0 0.115em rgb(255, 255, 255), 0 0 0.1em rgb(230, 190, 0);
}

h2 {
    font-family: 'Unica One', cursive, sans-serif;
    text-transform: uppercase;
    background-image: url(../images/header22.jpg);
    background-size: 100% 100%;
    color: rgb(230, 190, 0);
    padding: 1em 0em;
    text-align: center;
    
}

footer {
    background-color: black;
    height: 2em;
    color: rgb(230, 190, 0);
    padding-top: 0.5em;
    text-align: center;
}

footer a {
    text-decoration: none;
    color:rgb(230, 190, 0);
}

.fab {
    padding-top: 1em;
    font-size: 1.25em;
}
#tietoja {
    margin-top: -2.3em;
}
section {
    width: 100%;
    overflow: hidden;
    text-align: center;
}

section p {
    width: 100%;
    font-size: 1.125em;
}

h3 {
    text-align: center;
    font-size: 1.5em;
    
}
.tietoja {
    margin:-1em;
}

.info {
    text-align: left;
    width: 60%;
    margin: 0 auto;
    background-color: rgb(221, 212, 183);
    border: solid 0.125em black;
    overflow: hidden;
    border-radius: 1.25em;
    padding: 0em 3em 0 3em;
}

.harrastuksetleft img {
    display: block;
    margin: 0 auto;
    width: 50%;
}

.harrastuksetright img {
    display: block;
    margin: 0 auto;
    width: 50%; 
}

.harrastuksetleft {
    text-align: left;
    width: 45%;
    float: left;
    background-color: rgb(221, 212, 183);
    border: solid 0.125em black;
    margin-left: 17.4%;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 1em;
    padding: 1em;
    overflow: hidden;
    border-radius: 1.25em;
}

.harrastuksetright {
    text-align: left;
    width: 51%;
    float: right;
    background-color: rgb(221, 212, 183);
    border: solid 0.125em black;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 1em;
    margin-right: 17.4%;
    padding: 1em;
    overflow: hidden;
    border-radius: 1.25em;
}

h4 {
    text-align: left;
    font-size: 1.5em;
}

.timeline {
    padding-left: 20%;
    padding-right: 20%;
}
.timeline p {
    font-size: 1.125em;
    line-height: 1.75em;
    border-top: 0.25em solid;
    border-image: linear-gradient(to right, rgb(230, 190, 0) 0%, rgb(0, 0, 0) 100%);
    border-image-slice: 1;
    border-width: 0.25em;
    margin: 0;
    padding: 2em;
    counter-increment: section;
    position: relative;
    color: black;
}  
.timeline p::before {
    content: counter(section);
    position: absolute;
    border-radius: 50%;
    padding: 0.625em;
    height: 1.25em;
    width: 1.25em;
    background-color: black;
    text-align: center;
    line-height: 1.25em;
    color: rgb(230, 190, 0);
    font-size: 1em;
  }

/*parittomat*/
.timeline p:nth-child(odd) {
    border-right: 0.25em solid;
    padding-left: 0;
}
.timeline p:nth-child(odd)::before {
    left: 100%; 
    margin-left: -1.125em;
  }
/* parilliset */
.timeline p:nth-child(even) {
    border-left: 0.25em solid;
    padding-right: 0;
}
.timeline p:nth-child(even)::before {
    right: 100%; 
    margin-right: -1.125em;
  }

.timeline p:first-child {
    border-top: 0;
    padding-top: 5em;
}
.timeline p:last-child {
    padding-bottom: 5em;
}




@media only screen and (max-width: 80em) {

    h1 {
        font-size: 3em;
        padding: 1em 0.1em 0.75em 1em;
        text-shadow: 0 0 0.115em rgb(255, 255, 255), 0 0 0.1em rgb(230, 190, 0);
        float: left;
    
    }
    header img {
        float: right;
        margin-top: 3em;
        padding-right: 2%;
        height: 85%;
    }

    .fab {
        font-size: 1em;
    }

    .harrastuksetleft {
        width: 60%;
        margin: 0 auto;
        background-color: rgb(221, 212, 183);
        border: solid 0.125em black;
        border-radius: 1.25em;
        padding: 0em 3em 0 3em;
        float: none;
        
        margin-bottom: 1em;
    }
    .harrastuksetright {
        width: 60%;
        margin: 0 auto;
        background-color: rgb(221, 212, 183);
        border: solid 0.125em black;
        border-radius: 1.25em;
        padding: 0em 3em 0 3em;
        float: none;
        margin-bottom: 1em;
    }

}

 @media only screen and (max-width: 50em) {

    header {
        text-align:center;
    }
    h1 {
        padding: 1em 0 0 0;
        text-shadow: 0 0 0.115em rgb(255, 255, 255), 0 0 0.1em rgb(230, 190, 0);
        float: none;
    
    }
    header img {
        float: none;
        margin: 0;
        text-align: center;
        padding-top: 1.46875em;
        height: 60%;
    }
    .navbar {
        height: 2em;
        font-size: 1.25em;
    }
    ul {
        height: 2em;
    }
    li a {
        padding: 0.5em 0.5em 0.125em 0.5em;
    }
    section img {
        width: 35%;        
    }
    .timeline p {
        font-size: 0.875em;
    }
 }

 @media only screen and (max-width: 30em) {

    header {
        text-align:center;
    }


    h1 {
        padding: 1em 0 0 0;
        text-shadow: 0 0 0.115em rgb(255, 255, 255), 0 0 0.1em rgb(230, 190, 0);
        float: none;
    
    }
    header img {
        float: none;
        margin: 0;
        text-align: center;
        padding-top: 1.5em;
        height: 60%;
    }

    
 }

 @media only screen and (max-width: 25.25em) {
    
    header img {
        height: 50%;
        padding: 0;
    }
    li a {
        padding: 0.5em 0.125em 0.125em 0.125em;
    }
    
 }