body {
    margin: 0;
    font-size: 100%;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
}

article.page {
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(110, 80, 0, 0.3);
}

header {
    background-image: url("../images/banner8.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    letter-spacing: 0.3em;
    height: 20em;
    max-height: 20em;
    overflow: hidden;
}

h1 {
    font-family: 'Gabriela', serif;
	text-transform: uppercase;
	margin: 0;
	font-weight: 100;
    font-size: 4em;
    padding: 2em 1em 0.75em 5em;
    text-shadow: 0 0 0.115em rgb(255, 255, 255), 0 0 0.1em rgb(230, 190, 0);
    float: left;

}

header img {
    float: right;
    margin-top: 2em;
    padding-right: 5%;
    height: 90%;
    
}

.some {
    text-align: left;
    background-color: rgba(0, 0, 0, 0);
    padding-left: 2em;
    position: absolute;
}
.navbar {
    height: 1.875em;
    text-align: center;
    background-color: rgb(0, 0, 0);
    overflow: hidden;
}
    
ul {
    font-family: 'Unica One';
    height: 0.6em;
    font-size: 1.25em;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    display: inline;
}

li a {
    height: 1.375em;
    display: inline-block;
    text-decoration: none;
    color: rgb(230, 190, 0);
    padding-top: 0.125em;
    padding-left: 1em;
}

li a:hover:not(.active) {
    color: rgb(255, 250, 0);
    text-shadow: 0 0 0.115em rgb(255, 255, 255), 0 0 0.1em rgb(230, 190, 0);
}
  
li .active {
    background-color: #bb7d26;
    text-shadow: 0 0 0.1em rgb(255, 0, 0), 0 0 0.1em rgb(230, 160, 0);
}

h2 {
    background-image: url(../images/header2.jpg);
    background-size: 100% 100%;
    color: rgb(230, 190, 0);
    padding: 1.25em 0em;
    text-align: center;
    
}


footer {
    background-color: black;
    height: 1.625em;
    color: rgb(230, 190, 0);
    padding-top: 0.25em;
    text-align: center;
}

footer a {
    text-decoration: none;
    color:rgb(230, 190, 0);
}

section {
    font-family: 'Lato', sans-serif;
    font-weight: normal;
}

.fab {
    padding-top: 1em;
}
.teksti_unica {font-family: 'Unica One', cursive;}
.teksti_andada {font-family: 'Andada', serif;}
.teksti_great {font-family: 'Fredericka the Great', cursive;}

@media only screen and (max-width: 80em) {

    h1 {
        font-size: 3em;
        padding: 1em 0.1em 0.75em 1em;
        text-shadow: 0 0 0.115em rgb(255, 255, 255), 0 0 0.1em rgb(230, 190, 0);
        float: left;
    
    }
    header img {
        float: right;
        margin-top: 3em;
        padding-right: 2%;
        height: 85%;
    }

    .fab {
        font-size: 0.75em;
    }
}
 @media only screen and (max-width: 50em) {

    header {
        text-align:center;
    }
    h1 {
        padding: 1em 0 0 0;
        text-shadow: 0 0 0.115em rgb(255, 255, 255), 0 0 0.1em rgb(230, 190, 0);
        float: none;
    
    }
    header img {
        float: none;
        margin: 0;
        text-align: center;
        padding-top: 1.46875em;
        height: 60%;
    }
 }

 @media only screen and (max-width: 30em) {

    header {
        text-align:center;
    }


    h1 {
        padding: 1em 0 0 0;
        text-shadow: 0 0 0.115em rgb(255, 255, 255), 0 0 0.1em rgb(230, 190, 0);
        float: none;
    
    }
    header img {
        float: none;
        margin: 0;
        text-align: center;
        padding-top: 1.5em;
        height: 60%;
    }
 }

 @media only screen and (max-width: 24.8125em) {
    header img {
        height: 50%;
        padding: 0;
    }
 }