body {
    margin: 0;
    font-size: 100%;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
}

#page {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: coral;
}

#header {
    padding: 1em;
    text-align: center;
    font-size: 200%;
    background-color: #575757;
    color: #F0EBEB;
    letter-spacing: 0.1875em;
}

#nav, #footer {
    height: 1.875em;
    background-color: #E49A2F;
    color: #F7F5EE;
    text-align: center;
}

#content {
    background-color: #D8CCAF;
    width: 100%;
    overflow: hidden;
}

#content_left {
    width: 41%;
    float: left;
    background-color: #F7F5EE;
    border: solid 1px #AC9675;
    margin-left: 3%;
    margin-right: 0.2em;
    margin-top: 1.25em;
    margin-bottom: 1.25em;
    padding: 1em;
    overflow: auto;
    border-radius: 12px;
}

#content_right {
    width: 41%;
    float: right;
    background-color: #F7F5EE;
    border: solid 1px #AC9675;
    margin-left: 0.2em;
    margin-top: 1.25em;
    margin-bottom: 1.25em;
    margin-right: 3%;
    padding: 1em;
    overflow: hidden;
    border-radius: 12px;
}

h2 {
    color: #E49A2F;
    padding-left: 0.875em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #E49A2F;
    height: 1.875em;
    text-align: center;
}
  
li {
    display: inline;
}
  
li a {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 0.2em 1em;
}
  
li a:hover:not(.active) {
    background-color: #575757;
}
  
li .active {
    background-color: #bb7d26;
}

img {
    width: 100%; 
    height: auto;
}

address {
    padding: 0.2em;
}